<div style="text-align: center" class="container">
  <h1>Services</h1>
  <div style="text-align: left" class="alert alert-secondary" role="alert">
    Choisissez les élèments à inclure
    <br>
    <strong>{{model.countActive}} services sélectionnés</strong>
  </div>

  <ul class="list-group">
    {{#each model.services as |service|}}
      {{#if service.active}}
        <a {{action "toggleActive" service}} class="list-group-item list-group-item-action active">{{service.name}} - {{service.price}} €</a>
      {{else}}
        <button {{action "toggleActive" service}}><a class="list-group-item list-group-item-action">{{service.name}} - {{service.price}} €</a></button>
      {{/if}}
    {{/each}}

  </ul>
  <hr>
  <div style="text-align: left" class="alert alert-secondary" role="alert">
    Total <strong>{{model.sumActive}} €</strong>
  </div>
</div>
{{outlet}}